html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Dark theme adjustments */
html[data-bs-theme="dark"] nav.navbar {
    background-color: #343a40 !important;
    /* Optional: add a transition for smoothness */
    transition: background-color 0.2s ease;
}

html[data-bs-theme="dark"] nav.navbar .nav-link {
    color: #fff !important;
}
