@page "/{projectId:guid}/Inventory/Edit/{id:guid}"
@using SFServer.Shared.Server.Inventory
@model SFServer.UI.Pages.Inventory.EditInventoryItemModel
@{
    ViewData["Title"] = "Edit Inventory Item";
}

<h1>Edit Item</h1>
<form method="post">
    <input type="hidden" asp-for="Item.Id" />
    <div class="mb-3">
        <label asp-for="Item.Title" class="form-label"></label>
        <input asp-for="Item.Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Item.ProductId" class="form-label"></label>
        <input asp-for="Item.ProductId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
