@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFServer.Shared.Server.UserProfile
@model SFServer.UI.Models.UserProfiles.CreateUserProfileViewModel

<h1>Add New User</h1>

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Role"></label>
        <enum-dropdown asp-for="Role" enum-type="@(typeof(UserRole))" exclude="@(new[] { nameof(UserRole.Admin), nameof(UserRole.Guest)  })" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add User</button>
</form>