ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
DB_CONNECTION="Host=db;Database=dev;Username=admin;Password=yourpassword"
DB_USER=admin
DB_PASSWORD=yourpassword
DB_NAME=dev
DB_PORT=5432
ENVIRONMENT=Development
SERVER_COPYRIGHT="© 2025 - My Studio"
SERVER_TITLE="Custom Game"
JWT_TIMEOUT_HOURS=3600
JWT_SECRET=1sMhqeqa6tbWfDkuzVQC8LanDq7BvHM4UTZAfHU88zEaqQMVZa
API_BASE_URL="http://api:8080/"
JS_API_BASE_URL="http://localhost:5004/"
GOOGLE_CLIENT_ID=""
API_PORT=5004
UI_PORT=5005
DB_EXTENSIONS="uuid-ossp,pgcrypto"

